<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

    <title>Geometry</title>
</head>
<body>
    <div class="box">
        <div class="container">
            <div class="box__inner">
                <h2 class="box__title">Будем учить планиметрию</h2>
                {% for video in pag.get_content() %}
                    <div class="box__video">
                        <div class="img__and_link">
                            <img src="{{ video.image.url }}" alt="image don't load" width="150px">
                            <a href="{{ video.player }}">
                                {{ video.title }}
                            </a>
                        </div>
                        <div class="box__form">
                            <form method="POST">
                                <label for="check">Смотрел?</label>
                                <input type="checkbox" id="check" name="check" value="{{ video.watched }}" {% if video.watched %}checked{% endif %}>

                                <label for="title"></label>
                                <input type="hidden" id="title" name="title" value="{{ video.title }}">
                                <input type="submit" value="Отметить!" class="box__form_button">
                            </form>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="pages">
        <a href="{{ pag.first_page() }}">first</a>
        
        {% for page in pag.pages() %}
            <a href="{{ page['url'] }}">{{ page['num'] }}</a>
        {% endfor %}

        <a href="{{ pag.last_page() }}">last</a>
    </div>

</body>
</html>